<header>
    <nav class="navbar">
      <div class="logo">
        <img src="assets/images/logo.jpg" alt="Company Logo">
     

      </div>
  
      <div class="nav-buttons">
        <button routerLink="/home">Home</button>
        <button routerLink="/services">Services</button>
        <button routerLink="/careers">Careers</button>
        <button routerLink="/contact">Contact Us</button>
      </div>
  
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </nav>
  </header>
  